body {
	background: url(../images/bg1.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Black Han Sans' , sans-serif;
	text-align: center;
}

h1 {
	color: black;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 {
	color: blue;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 0;
}

.bio {
	color: orange;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 0;
}
.me{
	height:200px;
	border-radius: 100%;
	border-style: solid;
	border-color: black;
	margin-top: 50px;
}	