body {
	background: url(../images/bg2.jpeg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Black Han Sans' , sans-serif;
	text-align: center;
	

}

h1 {
	color: lightblue;
	font-size: 50px;
	font-weight: bold;
	margin-top: 50px;
	font-family: Courier New;
	text-shadow: 3px 4px 6px gray;


}

h2 {
	color: gray;
	font-size: 22px;
	font-weight: normal;
	margin-top: -45px;
	font-style: oblique;
	font-family: Courier New;
	text-shadow: 3px 4px 6px black;

}

.bio {
	color: orange;
	font-size: 18px;
	font-weight: normal;
	margin-top: 50px;
	font-family: Georgia;
	padding-left: 300px;
	padding-right: 300px;
	text-align: justify;
	text-indent: 50px;
	
}
.me{
	height:200px;
	border-radius: 100%;
	border-style: solid;
	border-color: lightblue;
	margin-top: 50px;
}	